<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600"
       style="font-family:Arial,Heiti TC,Microsoft JhengHei,Microsoft Yahei,PMingLiU,sans-serif;font-size:14px">
    <tbody>

    <tr>
        <td height="1" bgcolor="#cccccc" colspan="3"><img style="display:block"
                                                          src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                                          class="CToWUd"></td>
    </tr>

    <tr align="center">
        <td width="1" bgcolor="#cccccc"><img style="display:block"
                                             src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                             class="CToWUd"></td>
        <td style="padding-bottom:30px">
            <a href="http://www.hktvmall.com/hktv/zh" target="_blank"
               data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hktvmall.com/hktv/zh&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNGimH6KpCTru6MNJryKlW6fV5fRpA">
                <img width="100%"
                     src="https://ci3.googleusercontent.com/proxy/I4n_TFM-a3SxDjK739DJqqKugTY4qh3Hwu_uIAG2Em_LY1D7tCd5HZKDEcSoPvLxr48QnqehuDZ9P_-me1mC0-DpORoDlJxMW7-ht9kg1vxlXBTZTgQ=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/header_logo.png"
                     style="display:block;border:0" class="CToWUd">
            </a>
        </td>
        <td width="1" bgcolor="#cccccc"><img style="display:block"
                                             src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                             class="CToWUd"></td>
    </tr>

    <tr>
        <td width="1" bgcolor="#cccccc"><img style="display:block"
                                             src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                             class="CToWUd"></td>
        <td style="padding:0px 20px 0px 20px;padding-bottom:15px">
            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                   style="font-family:Arial,Heiti TC,Microsoft JhengHei,Microsoft Yahei,PMingLiU,sans-serif">
                <tbody>
                <tr>
                    <td>
                        <div style="font-family:Arial,Heiti TC,Microsoft JhengHei,Microsoft Yahei,PMingLiU,sans-serif;font-size:14px">
                            <br>
                            <br>
                            <p>Tsz Fung 您好,</p>

                            <p>
                                HKTVmall 已收到您的帳戶 <a href="mailto:travisl0102@gmail.com" target="_blank">travisl0102@gmail.com</a>
                                重設密碼的要求，請按下方連結更改密碼：
                                <br>
                                <br>
                                <a href="https://www.hktvmall.com/hktv/zh/login/pw/change?&amp;token=kvm5e9tLC96AM%2BiJZEGgIW0H8HgiFkEjjHKT8jLO%2FM%2FhCQU%2FiYEti0LCjJSjvhOOWy%2FUEYf83kdXudJZsKN1U7Wahj1s8s%2FOIgnEnG7nhTQ3482LAAvNV8yrsHq4K65JPdyuIVnZxCssMBClU3G6mw%3D%3D"
                                   target="_blank"
                                   data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.hktvmall.com/hktv/zh/login/pw/change?%26token%3Dkvm5e9tLC96AM%252BiJZEGgIW0H8HgiFkEjjHKT8jLO%252FM%252FhCQU%252FiYEti0LCjJSjvhOOWy%252FUEYf83kdXudJZsKN1U7Wahj1s8s%252FOIgnEnG7nhTQ3482LAAvNV8yrsHq4K65JPdyuIVnZxCssMBClU3G6mw%253D%253D&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNHeGKgSdxyIMNfnhUXsEzihYxZ7yQ"><font
                                        color="#6fcde3">更改我的密碼</font></a>
                            </p>

                            <p>
                                HKTVmall 謹啟<br><a href="http://hktvmall.com" target="_blank"
                                                  data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://hktvmall.com&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNHi4LxkV8WgwWMPYLqYCwZb1F-Tkg">hktvmall.com</a>
                            </p>
                            <br>
                            <br>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td width="1" bgcolor="#cccccc"><img style="display:block"
                                             src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                             class="CToWUd"></td>
    </tr>
    <tr>
        <td width="1" bgcolor="#cccccc"><img style="display:block"
                                             src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                             class="CToWUd"></td>
        <td style="padding:0px 175px 15px 175px">
            <a href="http://www.hktvmall.com/hktv/zh" target="_blank"
               data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hktvmall.com/hktv/zh&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNGimH6KpCTru6MNJryKlW6fV5fRpA">
                <img width="250" height="50"
                     src="https://ci4.googleusercontent.com/proxy/PZ_TLxt6VsRmj0zYlEN7jy1Rbz4zu7TEV84rv04QZXoIgh7lsM-Gq_iBNpT4pt7wrDSumQjVW73K7T-xYPCypqvRUR48p1kQ7u09Qu7c4cBCiWGUyX014P_2=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/btn_shop_now_zh.png"
                     style="display:block;border:0" class="CToWUd">
            </a>
        </td>
        <td width="1" bgcolor="#cccccc"><img style="display:block"
                                             src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                             class="CToWUd"></td>
    </tr>


    <tr>
        <td width="1" bgcolor="#cccccc"><img style="display:block"
                                             src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                             class="CToWUd"></td>
        <td>
            <table width="100%" bgcolor="#e9ece5">
                <tbody>
                <tr>
                    <td width="50%" style="border-right:1px solid #fff" height="60">
                        <table align="center"
                               style="font-family:Arial,Heiti TC,Microsoft JhengHei,Microsoft Yahei,PMingLiU,sans-serif">
                            <tbody>
                            <tr>
                                <td align="right">
                                    <img src="https://ci4.googleusercontent.com/proxy/ClRc-th9zr-RxfEGUWPHxRPG5JXynDQFhgM0eleZ7lW3BKZ-3MYLTwQTZiVfPeoUighdepHw2fDxJuo4VhRyhKXMCORBeeOGMGpC6DqYzC0tqWNUd5MVzd1gJ4H_O0ikD_Sm=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/footer_text_follow_us_zh.png"
                                         style="display:block;border:0" class="CToWUd">
                                </td>
                                <td style="padding-left:10px">
                                    <a href="https://www.facebook.com/hktvmall/" alt="Facebook" target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.facebook.com/hktvmall/&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNHTXIWcJIc6odAjdR0jSBDWHnrv-w">
                                        <img src="https://ci5.googleusercontent.com/proxy/S4gQ2CfeqoamUA6hnWTHyXerAzznI-v61yQaqwtPrUEAM4XzryUlltRHpI8HlKSdw4J91xh4TinaPhQHXKYJD_ooEnzcshwED6WNAAWseT4Pao5dbncb9chan-lK=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/footer_ic_facebook.png"
                                             style="display:block;border:0" class="CToWUd">
                                    </a>
                                </td>
                                <td style="padding-left:10px">
                                    <a href="https://www.youtube.com/channel/UCcIS9RT_TWjJAJRQr-lnlaQ" alt="Youtube"
                                       target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.youtube.com/channel/UCcIS9RT_TWjJAJRQr-lnlaQ&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNEA3nPydl-RjPFOOYUxpVSqtYO2sQ">
                                        <img src="https://ci4.googleusercontent.com/proxy/6vloJcDmBFF-ZPS6bBhkndcn92FprUy3XE1Dz-suSFCx-T2wvjq7EdGvhu489UVu0n-k-0-WNJ7k1JVD2AyWXEg7YerfKdBeLodShE1nYcYpRLHR1_7dFpsGd4Q=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/footer_ic_youtube.png"
                                             style="display:block;border:0" class="CToWUd">
                                    </a>
                                </td>
                                <td style="padding-left:10px">
                                    <a href="https://www.instagram.com/hktvmall/" alt="Instagram" target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.instagram.com/hktvmall/&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNFD7mU7fjmy9ufM1VNKsoD-UEPnGA">
                                        <img src="https://ci4.googleusercontent.com/proxy/InTxOHU-ENgARVFmS0aPAjSRrWTdxqCNtNa6Ul2SibMXME4UlD_kvJNVwlJ7HniDUMMQblknYJkpxEs5J1M6dIkWQxTSrzORVjDpEXIUrhMVulM0V0XLZdt_MRICOA=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/footer_ic_instagram.png"
                                             style="display:block;border:0" class="CToWUd">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="50%">
                        <table align="center"
                               style="font-family:Arial,Heiti TC,Microsoft JhengHei,Microsoft Yahei,PMingLiU,sans-serif">
                            <tbody>
                            <tr>
                                <td align="right">
                                    <img src="https://ci4.googleusercontent.com/proxy/wjOoeqI-_7bwkBXbGnhNj50ef4z82GfKdH41LQPAK1-Yj6L67hikv0XdCK9eT7J889pFxeTgcEsn2y_5qZnTft_TXgbWVmPRtXlMzIeZ_G5AP1QA0yCFBDV32NTSYExQbwX4Qc8Na0JZrvd6Gx6D=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/footer_text_download_hktvmall_app_zh.png"
                                         style="display:block;border:0" class="CToWUd">
                                </td>
                                <td style="padding-left:10px">
                                    <a href="https://itunes.apple.com/hk/app/hktvmall-one-stop-shop-for/id910398738?mt=8"
                                       alt="iOS - iPhone / iPad" target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://itunes.apple.com/hk/app/hktvmall-one-stop-shop-for/id910398738?mt%3D8&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNG1JLgz-gYL5wbkNc8NGC6kG1rl0A">
                                        <img src="https://ci5.googleusercontent.com/proxy/DIWe8ESWvqdtNm_FZpBABtNMv7Sda3bkWEErq6XoiqpNGvXhx1k-XPFcmBDgq4uFegYWk-6136s3y8wvZlMHkT220xc3J1AcliWMoeN3_65a8F2DQ6Vj7HYb=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/footer_ic_apple.png"
                                             style="display:block;border:0" class="CToWUd">
                                    </a>
                                </td>
                                <td style="padding-left:10px">
                                    <a href="https://play.google.com/store/apps/details?id=com.hktv.android.hktvmall"
                                       alt="Android" target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://play.google.com/store/apps/details?id%3Dcom.hktv.android.hktvmall&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNGHZ6pwit9l3fL4LLn2XdW0JmJ3kg">
                                        <img src="https://ci3.googleusercontent.com/proxy/N-tZ1WBZFJ2ylIMAQy5TZNoLftkjaylOdWq5hkVs5zM3eHXCDARlCUHGkhKruj12uQRiIS6vouumhe014-XLYHR8kjbOCVWtA2HntOgqFOXTWjN075Z2jER7Lnw=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/footer_ic_android.png"
                                             style="display:block;border:0" class="CToWUd">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td width="1" bgcolor="#cccccc"><img style="display:block"
                                             src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                             class="CToWUd"></td>
    </tr>


    <tr>
        <td height="1" bgcolor="#cccccc" colspan="3"><img style="display:block"
                                                          src="https://ci3.googleusercontent.com/proxy/ZwLJlZJsJMZTS7YMSGTtZbFb_1LQjxgVYeEb_Q41tJ8_5sMH8Y6kCUwPlyvw7dGvyBT5a5cuxzcg92QUSY61LUlyRw0yf7c7H8S5-p2czOk=s0-d-e1-ft#http://www.hktvmall.com/_ui/common/images/common/blank.gif"
                                                          class="CToWUd"></td>
    </tr>


    <tr align="center" valign="middle">
        <td colspan="3" style="padding-top:15px;font-size:13px;color:#666;line-height:18px">
            <p>請勿回覆此電郵，您可以發電郵至 <a href="mailto:cs@hktv.com.hk" style="color:#0645ad" target="_blank">cs@hktv.com.hk</a>
                或 使用<a href="http://hktvmall.com" style="color:#0645ad" target="_blank"
                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://hktvmall.com&amp;source=gmail&amp;ust=1518155488311000&amp;usg=AFQjCNHi4LxkV8WgwWMPYLqYCwZb1F-Tkg">hktvmall.com</a>
                /<br>HKTVmall App上的LiveChat即時通訊功能與我們保持聯絡。</p>
        </td>
    </tr>


    </tbody>
</table>
</body>
</html>