<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td valign="top" align="center" class="m_-5999213434265520708devicewidth" style="background-color:#ffffff">

            <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse" width="600"
                   class="m_-5999213434265520708devicewidth" align="center">
                <tbody>
                <tr>
                    <td align="left" class="m_-5999213434265520708devicewidth" style="padding:5px 0 0 0">
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="600" class="m_-5999213434265520708devicewidth">
                            <tbody>
                            <tr>
                                <td style="background-color:#ffffff" align="center"
                                    class="m_-5999213434265520708devicewidth">

                                    <table border="0" cellpadding="0" cellspacing="0"
                                           style="border:none;border-collapse:collapse" width="600"
                                           class="m_-5999213434265520708devicewidth">

                                        <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       style="border:none;border-collapse:collapse" width="100%"
                                                       class="m_-5999213434265520708devicewidth">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:0px 0 35px 0px"
                                                            class="m_-5999213434265520708pb20" align="left"><a
                                                                href="https://evernote.com/" target="_blank"
                                                                data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://evernote.com/&amp;source=gmail&amp;ust=1518147806066000&amp;usg=AFQjCNEvfpXtcc5bb9gDT1d6aco7YsEJ8w"><img
                                                                src="https://ci4.googleusercontent.com/proxy/SPVDrsKUI2sMPYIOP02H_w75l1TrqsbdJzYVon-VXsVVY-GGOl4MeBIJiUZj8UvUVoGaZPpQnGWdIv211OuMXkt1q3acCgkjkJzdZWgAhiPoWCVzUi3IfSX4zO2GfpY=s0-d-e1-ft#https://www.evernote.com/redesign/mail/puck/global/evernoteLogoHeader.jpg"
                                                                width="130" height="27"
                                                                style="display:block;border:none" alt="Evernote"
                                                                class="m_-5999213434265520708header CToWUd"></a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="600" class="m_-5999213434265520708devicewidth" align="center">
                            <tbody>
                            <tr>
                                <td align="left"
                                    style="color:#2dbe60;font-family:helvetica,arial,sans-serif;font-size:30px;font-weight:100;padding:0 0 10px 0"
                                    class="m_-5999213434265520708pl25 m_-5999213434265520708pr25">變更密碼
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="border:none;border-collapse:collapse;table-layout:fixed;word-wrap:break-word"
                               width="600" class="m_-5999213434265520708devicewidth">
                            <tbody>
                            <tr>
                                <td style="color:#484848;font-family:helvetica,arial,sans-serif;font-size:18px;line-height:26px;font-weight:100;padding:0 30px 35px 0"
                                    align="left"
                                    class="m_-5999213434265520708pr25 m_-5999213434265520708pl25 m_-5999213434265520708f18 m_-5999213434265520708l26">
                                    我們收到變更 Evernote 帳戶密碼的要求 (travisl0102)。
                                    <br><br>如果您並未要求變更密碼，請忽略此電子郵件。以下連結在 25 小時內均有效。
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="600" class="m_-5999213434265520708devicewidth">
                            <tbody>
                            <tr>
                                <td style="padding:0 0 30px 0"
                                    class="m_-5999213434265520708pl25 m_-5999213434265520708pr25" align="left">
                                    <table border="0" cellpadding="0" cellspacing="0"
                                           style="border:none;border-collapse:collapse" width="600"
                                           class="m_-5999213434265520708devicewidth">
                                        <tbody>
                                        <tr>
                                            <td align="left" class="m_-5999213434265520708full">
                                                <div>
                                                    <a href="https://www.evernote.com/ResetPassword.action?sig=403ebcf3a5f57a1a38f93ad5ae8dbd55&amp;expire=25302523&amp;username=travisl0102&amp;utm_source=service&amp;utm_medium=email&amp;utm_content=forgotPasswordStencil&amp;email_name=forgotPasswordStencil&amp;email_guid=4cc1f253-9c5f-4f4d-b955-d595a12f7e3b&amp;email_link=button_url"
                                                       style="background-color:#2dbe60;border:1px solid #2dbe60;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:35px;text-align:center;text-decoration:none;padding:0 25px 0 25px;letter-spacing:.5px;min-width:150px"
                                                       class="m_-5999213434265520708button" target="_blank"
                                                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/ResetPassword.action?sig%3D403ebcf3a5f57a1a38f93ad5ae8dbd55%26expire%3D25302523%26username%3Dtravisl0102%26utm_source%3Dservice%26utm_medium%3Demail%26utm_content%3DforgotPasswordStencil%26email_name%3DforgotPasswordStencil%26email_guid%3D4cc1f253-9c5f-4f4d-b955-d595a12f7e3b%26email_link%3Dbutton_url&amp;source=gmail&amp;ust=1518147806066000&amp;usg=AFQjCNF0uxAOQyktvoXFu9dzJuBaVAv9ow">重設密碼</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="600" class="m_-5999213434265520708devicewidth">
                            <tbody>
                            <tr>
                                <td align="center" class="m_-5999213434265520708pl25 m_-5999213434265520708pr25">
                                    <table border="0" cellpadding="0" cellspacing="0"
                                           style="border:none;border-collapse:collapse;border-top:#bbbbbb solid 1px;padding:10px 0 10px 0"
                                           width="100%" class="m_-5999213434265520708devicewidth" align="center">
                                        <tbody>
                                        <tr>
                                            <td align="center">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       style="border:none;border-collapse:collapse" width="600"
                                                       class="m_-5999213434265520708devicewidth" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   style="border:none;border-collapse:collapse"
                                                                   width="600"
                                                                   class="m_-5999213434265520708devicewidth">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center"
                                                                        style="padding:25px 5px 25px 5px;font-family:arial,sans-serif;font-size:12px;font-weight:400"
                                                                        class="m_-5999213434265520708block">
                                                                        <div style="color:#484848;font-family:helvetica,arial,sans-serif;font-size:17px;font-weight:400;padding-bottom:11px"
                                                                             class="m_-5999213434265520708pb0">Evernote
                                                                            能跨所有裝置同步記事。
                                                                        </div>
                                                                        <a href="https://www.evernote.com/AnalyticsPitStop.action?email_name=forgotPasswordStencil&amp;email_guid=4cc1f253-9c5f-4f4d-b955-d595a12f7e3b&amp;email_link=downloadBannerMailPlugin_windows_download&amp;targetUrl=https%3A%2F%2Fevernote.com%2Fdownload%3Futm_source%3Dservice%26utm_medium%3Demail%26utm_content%3DforgotPasswordStencil"
                                                                           style="text-decoration:none;color:#20c05c;font-family:helvetica,arial,sans-serif;font-size:17px;font-weight:400;padding-right:9px"
                                                                           class="m_-5999213434265520708block m_-5999213434265520708pt25 m_-5999213434265520708pr0 m_-5999213434265520708pb10 m_-5999213434265520708pl0"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/AnalyticsPitStop.action?email_name%3DforgotPasswordStencil%26email_guid%3D4cc1f253-9c5f-4f4d-b955-d595a12f7e3b%26email_link%3DdownloadBannerMailPlugin_windows_download%26targetUrl%3Dhttps%253A%252F%252Fevernote.com%252Fdownload%253Futm_source%253Dservice%2526utm_medium%253Demail%2526utm_content%253DforgotPasswordStencil&amp;source=gmail&amp;ust=1518147806066000&amp;usg=AFQjCNGVKTgz6J2TCbDApTqJ6XhPyTAgpw">Windows</a>
                                                                        <a href="https://www.evernote.com/AnalyticsPitStop.action?email_name=forgotPasswordStencil&amp;email_guid=4cc1f253-9c5f-4f4d-b955-d595a12f7e3b&amp;email_link=downloadBannerMailPlugin_mac_download&amp;targetUrl=https%3A%2F%2Fevernote.com%2Fdownload%3Futm_source%3Dservice%26utm_medium%3Demail%26utm_content%3DforgotPasswordStencil"
                                                                           style="text-decoration:none;color:#20c05c;font-family:helvetica,arial,sans-serif;font-size:17px;font-weight:400;padding-right:12px;padding-left:10px"
                                                                           class="m_-5999213434265520708block m_-5999213434265520708pt10 m_-5999213434265520708pr0 m_-5999213434265520708pb10 m_-5999213434265520708pl0"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/AnalyticsPitStop.action?email_name%3DforgotPasswordStencil%26email_guid%3D4cc1f253-9c5f-4f4d-b955-d595a12f7e3b%26email_link%3DdownloadBannerMailPlugin_mac_download%26targetUrl%3Dhttps%253A%252F%252Fevernote.com%252Fdownload%253Futm_source%253Dservice%2526utm_medium%253Demail%2526utm_content%253DforgotPasswordStencil&amp;source=gmail&amp;ust=1518147806066000&amp;usg=AFQjCNHBmXxd9d5sb5BbKaEDU_Fdy54o4A">Mac</a>
                                                                        <a href="https://www.evernote.com/AnalyticsPitStop.action?email_name=forgotPasswordStencil&amp;email_guid=4cc1f253-9c5f-4f4d-b955-d595a12f7e3b&amp;email_link=downloadBannerMailPlugin_android_download&amp;targetUrl=https%3A%2F%2Fevernote.com%2Fdownload%2Fget.php%3Ffile%3DEvernoteAndroidAppStore%26utm_source%3Dservice%26utm_medium%3Demail%26utm_content%3DforgotPasswordStencil"
                                                                           style="padding-right:1px;padding-left:12px"
                                                                           class="m_-5999213434265520708block m_-5999213434265520708pt10 m_-5999213434265520708pr0 m_-5999213434265520708pb10 m_-5999213434265520708pl0"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/AnalyticsPitStop.action?email_name%3DforgotPasswordStencil%26email_guid%3D4cc1f253-9c5f-4f4d-b955-d595a12f7e3b%26email_link%3DdownloadBannerMailPlugin_android_download%26targetUrl%3Dhttps%253A%252F%252Fevernote.com%252Fdownload%252Fget.php%253Ffile%253DEvernoteAndroidAppStore%2526utm_source%253Dservice%2526utm_medium%253Demail%2526utm_content%253DforgotPasswordStencil&amp;source=gmail&amp;ust=1518147806066000&amp;usg=AFQjCNHkf_UBg1KitMsvYfw1YLp1UjDQsg"><img
                                                                                src="https://ci6.googleusercontent.com/proxy/DobkNsuPSgYE4_zvQEQNld5Rhg76N5R6hE317CZEP6X4fa5lViYm-6a9BSLYVYI5fRgt2k-0fDQBKf-fZeyRnfk5mL4XvpHJjffagKII3l3-7iY_kHKQMCfJQAC2XBlUR21_iJB2vbhRcg=s0-d-e1-ft#https://www.evernote.com/redesign/mail/puck/downloadBannerMailPlugin/google_play.png"
                                                                                height="40"
                                                                                style="vertical-align:middle"
                                                                                alt="Android" class="CToWUd"></a>
                                                                        <a href="https://www.evernote.com/AnalyticsPitStop.action?email_name=forgotPasswordStencil&amp;email_guid=4cc1f253-9c5f-4f4d-b955-d595a12f7e3b&amp;email_link=downloadBannerMailPlugin_ios_download&amp;targetUrl=https%3A%2F%2Fevernote.com%2Fdownload%2Fget.php%3Ffile%3DEvernoteIosAppStore%26utm_source%3Dservice%26utm_medium%3Demail%26utm_content%3DforgotPasswordStencil"
                                                                           style="padding-left:1px"
                                                                           class="m_-5999213434265520708block m_-5999213434265520708pt10 m_-5999213434265520708pr0 m_-5999213434265520708pl0"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/AnalyticsPitStop.action?email_name%3DforgotPasswordStencil%26email_guid%3D4cc1f253-9c5f-4f4d-b955-d595a12f7e3b%26email_link%3DdownloadBannerMailPlugin_ios_download%26targetUrl%3Dhttps%253A%252F%252Fevernote.com%252Fdownload%252Fget.php%253Ffile%253DEvernoteIosAppStore%2526utm_source%253Dservice%2526utm_medium%253Demail%2526utm_content%253DforgotPasswordStencil&amp;source=gmail&amp;ust=1518147806066000&amp;usg=AFQjCNGmDEEM-TJ_GqCViQr55taT-9jIQA"><img
                                                                                src="https://ci4.googleusercontent.com/proxy/0WYvWpntvc-8ZtykIwdM22uMRzmGrSlnvyjEvseIl391YwIliU0JKZhd0DAVD3vSX03sQ7YrRVjPymj0esYfgnbRRpKlZs-Nf2vyQX-zUzg8zuCK2ZKGG4rmsEds6ANiVdoTuY0zIkc=s0-d-e1-ft#https://www.evernote.com/redesign/mail/puck/downloadBannerMailPlugin/app_store.png"
                                                                                height="40"
                                                                                style="vertical-align:middle" alt="iOS"
                                                                                class="CToWUd"></a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="100%" class="m_-5999213434265520708devicewidth">
                            <tbody>
                            <tr>
                                <td align="center" class="m_-5999213434265520708pl25 m_-5999213434265520708pr25">
                                    <table border="0" cellpadding="0" cellspacing="0"
                                           style="border:none;border-collapse:collapse;border-top:#bbbbbb solid 1px;padding:10px 0 10px 0"
                                           width="100%" class="m_-5999213434265520708devicewidth" align="center">
                                        <tbody>
                                        <tr>
                                            <td align="center">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       style="border:none;border-collapse:collapse" width="100%"
                                                       class="m_-5999213434265520708devicewidth" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   style="border:none;border-collapse:collapse"
                                                                   width="100%"
                                                                   class="m_-5999213434265520708devicewidth">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center"
                                                                        style="padding:15px 5px 15px 5px;font-family:arial,sans-serif;font-size:12px;font-weight:400"
                                                                        class="m_-5999213434265520708block m_-5999213434265520708mleft">

                                                                        <a href="https://www.evernote.com/Settings.action"
                                                                           style="text-decoration:none;color:#2dbe60"
                                                                           class="m_-5999213434265520708block m_-5999213434265520708mleft m_-5999213434265520708pt10 m_-5999213434265520708pb10"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/Settings.action&amp;source=gmail&amp;ust=1518147806066000&amp;usg=AFQjCNEcoluyeSx9UBK0As2MvEQHvuzbEg">帳戶</a>
                                                                        <span style="padding:20px 15px;color:#848484"
                                                                              class="m_-5999213434265520708hide">•</span>
                                                                        <a href="http://blog.evernote.com/"
                                                                           style="text-decoration:none;color:#2dbe60"
                                                                           class="m_-5999213434265520708block m_-5999213434265520708mleft m_-5999213434265520708pt10 m_-5999213434265520708pb10"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://blog.evernote.com/&amp;source=gmail&amp;ust=1518147806066000&amp;usg=AFQjCNEUvN_NpVMdq3dmlRT5mPZQONMGtA">部落格</a>
                                                                        <span style="padding:20px 15px;color:#848484"
                                                                              class="m_-5999213434265520708hide">•</span>
                                                                        <a href="https://evernote.com/contact/support"
                                                                           style="text-decoration:none;color:#2dbe60"
                                                                           class="m_-5999213434265520708block m_-5999213434265520708mleft m_-5999213434265520708pt10 m_-5999213434265520708pb10"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://evernote.com/contact/support&amp;source=gmail&amp;ust=1518147806067000&amp;usg=AFQjCNEzTvjAzpAY92KY5zSm256bzXSVlA">支援</a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="100%"
                                    class="m_-5999213434265520708mleft m_-5999213434265520708pl25 m_-5999213434265520708pr70"
                                    align="center"
                                    style="padding:10px 0 10px 0px;font-family:helvetica,arial,sans-serif;font-size:10px;line-height:17px;color:#535353">
                                    這封郵件是由 Evernote Corporation (或其子公司) 向您寄出.
                                    <br>
                                    <a style="color:#535353;text-decoration:none"
                                       href="https://www.google.com/maps/preview#!q=Evernote+Corporation%2C+305+Walnut+Street%2C+Redwood+City%2C+CA+94063%2C+USA&amp;data=!4m10!1m9!4m8!1m3!1d3158!2d-122.4049847!3d37.7711819!3m2!1i1440!2i769!4f13.1"
                                       target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.google.com/maps/preview%23!q%3DEvernote%2BCorporation%252C%2B305%2BWalnut%2BStreet%252C%2BRedwood%2BCity%252C%2BCA%2B94063%252C%2BUSA%26data%3D!4m10!1m9!4m8!1m3!1d3158!2d-122.4049847!3d37.7711819!3m2!1i1440!2i769!4f13.1&amp;source=gmail&amp;ust=1518147806067000&amp;usg=AFQjCNGZIEln25NAzQMayijetuH1jS1-DQ">
                                        Evernote Corporation, 305 Walnut Street, Redwood City, CA 94063, USA.
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td height="1" class="m_-5999213434265520708hide"
                                    style="min-width:576px;font-size:0px;line-height:0px">
                                    <img height="1"
                                         src="https://ci4.googleusercontent.com/proxy/qA0tEm1vb0F8tSQq6K6a42OMALmb8hsYVwnIAEqoDmdgMiRjy3GaFjItURbJXhymK3wme-Bc1cONNK37HVc3JVy6J090SfyRQzg_tpjvCBkby6SBqtU5CtXJBye6=s0-d-e1-ft#https://www.evernote.com/redesign/mail/puck/global/gmail_spacer_576.gif"
                                         style="min-width:576px;text-decoration:none;border:none" class="CToWUd">
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div style="display:none;white-space:nowrap;font:15px courier;color:#ffffff">- - - -
                                        - - - - - - - - - - - - - - - - - - - - - - -
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <img src="https://ci4.googleusercontent.com/proxy/lo-KLnHFiyeLFRLYn4vY3wfDwv6AZ4LlfDh-J4qIFhXmlk6KlZOtBgtLCA4AAU2Ar4t66XQRGX6i0d9Zm_F8_apIqlBccPDmWTRTvTyB5S1sGEc--WsEYw=s0-d-e1-ft#https://www.evernote.com/etpa/4cc1f253-9c5f-4f4d-b955-d595a12f7e3b"
                                         style="height:1px;width:1px" class="CToWUd">

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>