<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="height:100%;width:100%;font-size:15px;line-height:20px;text-transform:initial;letter-spacing:initial;font-weight:400;color:#212b35;font-family:-apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;margin:0;padding:0">
    <table style="width:100%;border-collapse:collapse;border-spacing:0;margin-top:0;margin-bottom:0;padding:0"
           cellpadding="0" cellspacing="0">
        <tbody>
        <tr style="margin-top:0;margin-bottom:0;padding:0">
            <td style="margin-top:0;margin-bottom:0;padding:0;border:0"><h1
                    style="margin-top:0;margin-bottom:0;font-size:15px;font-weight:400;line-height:20px;text-transform:initial;letter-spacing:initial;padding:0">
                You‘ve requested to reset your GoodMalling password for Click To Grow with the email <a
                    href="mailto:" +{{.Recipient}} target="_blank">{{.Recipient}}</a>.
            </h1></td>
        </tr>
        <tr style="margin-top:0;margin-bottom:0;padding:0">
            <td style="margin-top:0;margin-bottom:0;padding:16px 0 0;border:0"><h2
                    style="margin-top:0;margin-bottom:0;font-size:15px;font-weight:400;line-height:20px;text-transform:initial;letter-spacing:initial;padding:0">
                If you didn't request this, you can ignore this email.
            </h2></td>
        </tr>
        <tr style="margin-top:0;margin-bottom:0;padding:0">
            <td style="margin-top:0;margin-bottom:0;padding:16px 0 0;border:0"><a
                    class="m_-3524248012432939333mail-button"
                    href="https://click-to-grow.myshopify.com/admin/auth/reset/2232614940/3d85b35a24475a0c3f805866bbfde2db-1518061632"
                    style="margin-top:0;margin-bottom:0;color:#ffffff;text-decoration:none;font-weight:400;text-transform:initial;letter-spacing:initial;display:inline-block;font-size:14px;line-height:1;background-color:#6371c7;border-radius:3px;padding:0;border-color:#6371c7;border-style:solid;border-width:10px 20px"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://click-to-grow.myshopify.com/admin/auth/reset/2232614940/3d85b35a24475a0c3f805866bbfde2db-1518061632&amp;source=gmail&amp;ust=1518148036966000&amp;usg=AFQjCNHpxL1GxQ4_px7JWPw8HnK91iwPhQ">Reset
                password</a></td>
        </tr>
        </tbody>
    </table>
    <footer>
        <table border="0" cellpadding="0" cellspacing="0" class="m_-3524248012432939333mail-footer"
               style="width:100%;border-collapse:collapse;border-spacing:0;margin-top:0;margin-bottom:0;font-size:10px;line-height:14px;padding:0">
            <tbody>
            <tr style="margin-top:0;margin-bottom:0;padding:0">
                <td align="center" valign="bottom" style="margin-top:0;margin-bottom:0;padding:0;border:0">
                    <img alt="" width="140"
                         src="http://res.cloudinary.com/dxlb0hdxg/image/upload/v1518059939/innolab_sihw2v.png"
                         style="height:auto;line-height:0;outline:none;text-decoration:none;vertical-align:top;border:0"
                         class="CToWUd">
                </td>
            </tr>
            <tr style="margin-top:0;margin-bottom:0;padding:0">
                <td align="center" style="margin-top:0;margin-bottom:0;padding:8px 0 20px;border:0">
                    <p style="margin-top:0;margin-bottom:0;padding:0">© Shopify | <span
                            class="m_-3524248012432939333apple-link"><a
                            href="https://maps.google.com/?q=150+Elgin+Street,+Ottawa+ON,+K2P+1L4&amp;entry=gmail&amp;source=g">150 Elgin Street, Ottawa ON, K2P 1L4</a></span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </footer>
</div>
</body>
</html>