<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:2px solid #5e6ebf">
    <tbody>
    <tr>
        <td bgcolor="#FFFFFF" align="center" style="padding:15px 15px 0px 15px">
            <table class="m_-4509279660646682052full-width-table" border="0" cellpadding="0" cellspacing="0"
                   width="600">
                <tbody>
                <tr>
                    <td align="center"><a
                            href="http://inno-lab.co/"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D8d0cb6401b47092fd07579280f90c2aeb5dbbba472644a61603b075f7ea4de36b2eebf1ae8b6255d4e2a359a88400f67d465b89eac94cf2d&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNGotwB_-7lH5cQu6PohxnrrOEzsTg"><img
                            src="http://res.cloudinary.com/dxlb0hdxg/image/upload/v1518059939/innolab_sihw2v.png"
                            alt="" width="125" border="0" class="CToWUd"></a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding:15px 15px 0px 15px">
            <table class="m_-4509279660646682052full-width-table" border="0" cellpadding="0" cellspacing="0"
                   width="600">
                <tbody>
                <tr>
                    <td align="center"
                        style="color:#212b35;font-family:ShopifySans,Helvetica,Arial,sans-serif;font-size:24px;line-height:32px;padding-top:15px;padding-bottom:15px">
                        <strong> You just started a new business. Congrats!</strong>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle"
                        style="text-align:center;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px">
                        <a href="http://click.email.shopify.com/?qs=94c3f345766b9838fab6b0e5170f1c01c148a5d7ec07a4c8949e317a1ce945d268c8a89b2778060cf77d100cd969a1570f3e2831944b82a2"
                           target="_blank"
                           data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D94c3f345766b9838fab6b0e5170f1c01c148a5d7ec07a4c8949e317a1ce945d268c8a89b2778060cf77d100cd969a1570f3e2831944b82a2&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNG2GobfvP4QIHoUaRs12lzF3CuVng"><img
                                src="https://ci4.googleusercontent.com/proxy/ocLocnnltt1lWcj6JIbrpl9gbi6z0aTDRsXBSHURnmyoCCyOs8MkY_dsj5c5STKloRpA4bOHNk0px89JV5drqY7dcUPzrNxk4FmNZ2cF2xqooVW_yR5kP6IySWbnLW9Ajh7t9eyG=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0070/7032/files/welcome.png?550188163546767664"
                                align="center" class="m_-4509279660646682052fluid-image CToWUd"
                                style="max-width:300px;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;border-width:0px!important;height:auto!important"></a>
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="text-align:left;color:#212b35;font-family:ShopifySans,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;border-top:1px;line-height:22px;padding:5px 0;padding-bottom:20px">
                        <p style="margin-bottom:1em"><span
                                style="font-family:ShopifySans,Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:24px;color:#212b35"><b>Hi {{.Recipient}},</b></span>
                        </p>

                        <p style="margin-bottom:1em">You're <em>this</em> close to selling online with ThisisInnoLab.
                            Complete your registration now to start building your business and earning sales!'
                        </p>

                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-bottom:50px">
            <table border="0" cellspacing="0" cellpadding="0"
                   class="m_-4509279660646682052full-width-table m_-4509279660646682052emailButton">
                <tbody>
                <tr>
                    <td bgcolor="#5e6ebf" align="center"
                        style="padding:10px 20px 10px 20px;border-radius:3px;font-family:ShopifySans,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400">
                        <a href="http://inno-lab.co/"
                           style="display:inline-block;color:#ffffff;text-decoration:none;line-height:24px"
                           target="_blank"
                           data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D94c3f345766b9838fab6b0e5170f1c01c148a5d7ec07a4c8949e317a1ce945d268c8a89b2778060cf77d100cd969a1570f3e2831944b82a2&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNG2GobfvP4QIHoUaRs12lzF3CuVng">
                    <span style="color:#ffffff">
                        &nbsp;&nbsp;Manage&nbsp;your&nbsp;Shop&nbsp;Now&nbsp;&nbsp;</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding:0px 15px 15px 15px">
            <table class="m_-4509279660646682052full-width-table" border="0" cellpadding="0" cellspacing="0"
                   width="600">
                <tbody>
                <tr>
                    <td bgcolor="#f4f6f8" align="center" style="padding-top:30px">
                        <a href="http://click.email.shopify.com/?qs=8d0cb6401b47092f3d902baf73cf60c3f4685c78c8a11d085cb14dbb2e3ce487c9642853382a09e58ab092daf3dcce08b073eb3a57049f7f"
                           style="padding-right:10px;color:#888;font-size:13px;text-decoration:none" target="_blank"
                           data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D8d0cb6401b47092f3d902baf73cf60c3f4685c78c8a11d085cb14dbb2e3ce487c9642853382a09e58ab092daf3dcce08b073eb3a57049f7f&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNEnvW7-pTNbkkxIMBzvGkFaFXACYQ">
                            <img src="https://ci5.googleusercontent.com/proxy/DJMJsN9C1zbkxVSepX7zhUcu5xb6b-4mmYVg3crqCtLJw_es9R2MuA65x8xTwResZBNC4dzkKIfP-4MCAu1BLCMNl7fGn-jCAdPWk1FwUMMcl4lqYoKB4GsmVhjMAPKKlhgIFrmfXGqkvAsdNg=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0070/7032/files/facebook-email.png?663170068288132913"
                                 width="25" alt="Facebook" title="Facebook" border="0" class="CToWUd">
                        </a>
                        <a href="http://click.email.shopify.com/?qs=8d0cb6401b47092f09e8c07e9f5e486ee2fa977ae19b46f5d7d6bcc2b718e9c4ba989c400db9b932950d145365633d9b435cd2f7b8592f4a"
                           style="padding-right:10px;color:#888;font-size:13px;text-decoration:none" target="_blank"
                           data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D8d0cb6401b47092f09e8c07e9f5e486ee2fa977ae19b46f5d7d6bcc2b718e9c4ba989c400db9b932950d145365633d9b435cd2f7b8592f4a&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNEe3ks_kDzT7L6CLFS-KFYIVbLrTA">
                            <img src="https://ci3.googleusercontent.com/proxy/-t3KrVDVC5YGCfyYTl4GMRAVjlZ1hynR5B6Rz_IGXv9DG8_qL_pEoipemBzJ7kJVUOvZ3NEYQwopon9IWkDiFAu552KX3agd6wEYltWX8lZf48JVvQB9jayMBKGRaWRTEaT1OoxelBOIgyc8=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0070/7032/files/twitter-email.png?663170068288132913"
                                 width="25" alt="Twitter" title="Twitter" border="0" class="CToWUd">
                        </a>
                        <a href="http://click.email.shopify.com/?qs=8d0cb6401b47092f093dda568dffcaeddf42758d82f446f47164194987acb8ae4361cb5f0970cf004d08ccc5c77e63cd14a35200bc75ed59"
                           style="padding-right:10px;color:#888;font-size:13px;text-decoration:none" target="_blank"
                           data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D8d0cb6401b47092f093dda568dffcaeddf42758d82f446f47164194987acb8ae4361cb5f0970cf004d08ccc5c77e63cd14a35200bc75ed59&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNG1cnNU0zj3KcZNIFM294YKiRy2FQ">
                            <img src="https://ci4.googleusercontent.com/proxy/AfrxiXKT0I2iflKbIo-3dPKJjaqFay-lkxbjIdRoAS7O2UkICdhF_dhTjpDbinzAHx_vV9rEMWk6ZZ6H66gpXfJQMRxXR_pCue0_A1zFpkqZDoJ8dJVh0I6wI_w1e6FovHBnmYq6MGH72UH87o0=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0070/7032/files/instagram-email.png?663170068288132913"
                                 width="25" alt="Instagram" title="Instagram" border="0" class="CToWUd">
                        </a>
                        <a href="http://click.email.shopify.com/?qs=8d0cb6401b47092fec1b480a70206869ba72d6971305ad5726e332d044592d80afa749bcacc99ce80a43eb8e2a450c5793bcb876d41a4994"
                           style="padding-right:10px;color:#888;font-size:13px;text-decoration:none" target="_blank"
                           data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D8d0cb6401b47092fec1b480a70206869ba72d6971305ad5726e332d044592d80afa749bcacc99ce80a43eb8e2a450c5793bcb876d41a4994&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNHsO252jZmSMuQGj-cZXDcNX7d20w">
                            <img src="https://ci4.googleusercontent.com/proxy/hAQfVIo8_Lj4een0fbRiM3ub3xDfLVdh-dYWa-SkvaXXwY17My2JjQh8bawIv9b1_nPpyG2R0M1gWswZ5-TJJ6EtL2OdW6XpN7Fpz71k7jBHKu-2V2uXGxoFAjrWsiubHUtdwkeTqq80ZWdAkiQaEOKwM2d_cZSmEv9qMh3018rS6Zj3Ph4U6NSqBuJIIcU8uGmE2w=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0070/7032/files/snapchat-email_6037e572-a440-4bcd-903e-9a3698487cfc.png?10116433761269324446"
                                 width="25" alt="Snapchat" title="Snapchat" border="0" class="CToWUd">
                        </a>
                        <a href="http://click.email.shopify.com/?qs=8d0cb6401b47092f563cf9ba559b259156f24c486c7cb1c058e6f4e492b075cdbffcd28c0617764b236bb002f7fa47dc6e2e653d59a50dd8"
                           style="padding-right:10px;color:#888;font-size:13px;text-decoration:none" target="_blank"
                           data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D8d0cb6401b47092f563cf9ba559b259156f24c486c7cb1c058e6f4e492b075cdbffcd28c0617764b236bb002f7fa47dc6e2e653d59a50dd8&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNFJyyAxiJTk-8LrlP4afewhU7S-WQ">
                            <img src="https://ci4.googleusercontent.com/proxy/VcpUauXvv3kxtNIMJmiKmuX8oeG-OS8XysDfy1spjuARcEVxQV2K0MKWE9KRvP_o9ZYMNzUmFntwnZDaD3ypQyDcZGm-n5CGPfoA6Ctn8Z1fSU9NbmrBbWkOLPY9PTthSLuCx7uBWE5bW2QflA=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0070/7032/files/linkedin-email.png?663170068288132913"
                                 width="25" alt="LinkedIn" title="LinkedIn" border="0" class="CToWUd">
                        </a>
                        <a href="http://click.email.shopify.com/?qs=8d0cb6401b47092f13f1a0eaa7edf3710cc49c338fb72d7f9fee9afa6f2482739f6db23c02e12bdfe4eead751a355a5520d2e3aacd386fcf"
                           style="padding-right:10px;color:#888;font-size:13px;text-decoration:none" target="_blank"
                           data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D8d0cb6401b47092f13f1a0eaa7edf3710cc49c338fb72d7f9fee9afa6f2482739f6db23c02e12bdfe4eead751a355a5520d2e3aacd386fcf&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNFNad3ql5PLkTZ9ewlcnKBXH_1_Pw">
                            <img src="https://ci5.googleusercontent.com/proxy/_nCC_WGEVlu1kfYyTP3Uk-mCQSEjGkyCepwvIPZhT3ZwZmjLO35EGJapkWo4w5XZxb-KIfil-2rbO9LcoU3SorHICATVXrv8oJvtfxF8IuM5gZ3s0HL8GxbkT0Yc4dNj2mLwPOF-B8yV8rvYrfY=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0070/7032/files/pinterest-email.png?663170068288132913"
                                 width="25" alt="Pinterest" title="Pinterest" border="0" class="CToWUd">
                        </a>
                        <a href="http://click.email.shopify.com/?qs=8d0cb6401b47092f3976f9b8a0dbc9c0e31723a2e4e9c4bde0322aaa0acdd299ad4f4bc833c33b2637ab45044fbaa4ef9c96a2090acdd73a"
                           style="color:#888;font-size:13px;text-decoration:none" target="_blank"
                           data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D8d0cb6401b47092f3976f9b8a0dbc9c0e31723a2e4e9c4bde0322aaa0acdd299ad4f4bc833c33b2637ab45044fbaa4ef9c96a2090acdd73a&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNEHgovW9zWrQy2AtyYIGcPP9-EChw">
                            <img src="https://ci4.googleusercontent.com/proxy/2m-wiKxE9IV5_U4bHUtBPlpT0EC952Vne5Wqxc0NSmtmd76Nr_4SSY78axR0wxucPRzJ3q5XAiwNkUpoSN522X0sy2nMSoCC01i4M5kclKx4U5-1XVkQth13yXDdVZ4bNWTtuzRICAt8ovZ2=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0070/7032/files/youtube-email.png?663170068288132913"
                                 width="25" alt="YouTube" title="YouTube" border="0" class="CToWUd">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#f4f6f8" align="center"
                        style="color:#212b35;font-family:ShopifySans,Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:22px;padding:30px 7%">
                        <p style="padding-top:15px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;clear:both;text-align:center;line-height:24px;font-size:12px;color:#212b35;text-decoration:none">
                            This email was sent with ♥ by
                            ©
                            <a href="http://click.email.shopify.com/?qs=8d0cb6401b47092f81a00e0c12be92a414335f9e2825e30eb065e10d9f280aaffb248b737f4d9c9e4d2ef9a7f8baafa45c55f29ec9dd4e8c"
                               class="m_-4509279660646682052links"
                               style="padding-top:15px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;clear:both;text-align:center;line-height:24px;font-size:12px;color:#212b35;text-decoration:none"
                               target="_blank"
                               data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/?qs%3D8d0cb6401b47092f81a00e0c12be92a414335f9e2825e30eb065e10d9f280aaffb248b737f4d9c9e4d2ef9a7f8baafa45c55f29ec9dd4e8c&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNHG3cIX2_QD8mFfYMhQbWrkvpiGaA">
                                GoodMalling
                            </a> | <a
                                href="https://maps.google.com/?q=150+Elgin+Street,+Ottawa+ON,+K2P+1L4&amp;entry=gmail&amp;source=g">150
                            Elgin Street, Ottawa ON, K2P 1L4</a>
                        </p>
                        <p align="center"
                           style="padding-top:15px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;clear:both;text-align:center;line-height:18px;font-size:12px;color:#212b35;text-decoration:none;font-weight:300">
                            If you prefer to receive less frequent emails from us, you can <u><a
                                href="http://click.email.shopify.com/subscription_center.aspx?qs=ce2993e08f3abd7de31a9ea8f976ca51137c83899fea7b5e0b9da520026ee7697a65edeb379a37f6f91dc588473ea07a5290e051bedd65a8e7ea3843a36fa787"
                                style="color:#212b35;font-size:12px;text-decoration:none;font-weight:300;line-height:18px"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/subscription_center.aspx?qs%3Dce2993e08f3abd7de31a9ea8f976ca51137c83899fea7b5e0b9da520026ee7697a65edeb379a37f6f91dc588473ea07a5290e051bedd65a8e7ea3843a36fa787&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNEAfoOs_SSnUQZqNL8D-VCXl4ZiHQ">set
                            your preferences here</a></u>. You can also manage your personal preferences <a
                                href="http://click.email.shopify.com/profile_center.aspx?qs=ce2993e08f3abd7d9b78240d1fd92c8dcb6794a4fd469c599d7415cc123cf13a37a7bfa1ce61d785b71d47baee3152deb4e9fa79b1db5d6a634e6691c814e772"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/profile_center.aspx?qs%3Dce2993e08f3abd7d9b78240d1fd92c8dcb6794a4fd469c599d7415cc123cf13a37a7bfa1ce61d785b71d47baee3152deb4e9fa79b1db5d6a634e6691c814e772&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNFNRjGfeegDfxnJTjwfDlPPrtcdAQ">here</a>.
                            If you no longer want to receive any more messages from us, you can <a
                                href="http://click.email.shopify.com/unsub_center.aspx?qs=ce2993e08f3abd7de31a9ea8f976ca51137c83899fea7b5e0b9da520026ee769d577d48ca593522966b9e9ff804efbb0f2c03606f90589e3759b3a06193ef120810599bafd78f9e2"
                                style="color:#212b35;font-size:12px;font-weight:300;line-height:18px" target="_blank"
                                data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.email.shopify.com/unsub_center.aspx?qs%3Dce2993e08f3abd7de31a9ea8f976ca51137c83899fea7b5e0b9da520026ee769d577d48ca593522966b9e9ff804efbb0f2c03606f90589e3759b3a06193ef120810599bafd78f9e2&amp;source=gmail&amp;ust=1518087960832000&amp;usg=AFQjCNESWPWDNfdsUALFZh73zS9QNsNrSA">unsubscribe
                            here</a>.
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>