<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td valign="top" align="center" class="m_-4870108497433764183devicewidth" style="background-color:#ffffff">

            <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse" width="600"
                   class="m_-4870108497433764183devicewidth" align="center">
                <tbody>
                <tr>
                    <td align="left" class="m_-4870108497433764183devicewidth" style="padding:5px 0 0 0">
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="600" class="m_-4870108497433764183devicewidth">
                            <tbody>
                            <tr>
                                <td style="background-color:#ffffff" align="center"
                                    class="m_-4870108497433764183devicewidth">

                                    <table border="0" cellpadding="0" cellspacing="0"
                                           style="border:none;border-collapse:collapse" width="600"
                                           class="m_-4870108497433764183devicewidth">

                                        <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       style="border:none;border-collapse:collapse" width="100%"
                                                       class="m_-4870108497433764183devicewidth">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:0px 0 35px 0px"
                                                            class="m_-4870108497433764183pb20" align="left"><a
                                                                href="https://evernote.com/" target="_blank"
                                                                data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://evernote.com/&amp;source=gmail&amp;ust=1518145589806000&amp;usg=AFQjCNHvhtOTzh8dMY1AtyttTzrWCIEGng"><img
                                                                src="http://res.cloudinary.com/dxlb0hdxg/image/upload/v1518059939/innolab_sihw2v.png"
                                                                width="140" height="45"
                                                                style="display:block;border:none" alt="Evernote"
                                                                class="m_-4870108497433764183header CToWUd"></a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="600" class="m_-4870108497433764183devicewidth" align="center">
                            <tbody>
                            <tr>
                                <td align="left"
                                    style="color:#00abde;font-family:helvetica,arial,sans-serif;font-size:30px;font-weight:100;padding:0 0 10px 0"
                                    class="m_-4870108497433764183pl25 m_-4870108497433764183pr25">歡迎使用 <span class="il">Good Malling</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="border:none;border-collapse:collapse;table-layout:fixed;word-wrap:break-word"
                               width="600" class="m_-4870108497433764183devicewidth">
                            <tbody>
                            <tr>
                                <td style="color:#484848;font-family:helvetica,arial,sans-serif;font-size:18px;line-height:26px;font-weight:100;padding:0 30px 35px 0"
                                    align="left"
                                    class="m_-4870108497433764183pr25 m_-4870108497433764183pl25 m_-4870108497433764183f18 m_-4870108497433764183l26">
                                    <span class="il">GoodMalling</span> 數位工作空間幫您輕鬆收集並管理高效工作的一切所需。
                                    <br><br>在單一裝置上時，<span class="il">Evernote</span> 很棒。串聯所有裝置時，<span class="il">Evernote</span>
                                    完全強大：您所有工作成果都可以隨時帶著走，
                                    <wbr>
                                    到任何地方都能繼續編輯新增。
                                    <wbr>
                                    現在就打開這封電子郵件並點擊以下連結。
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="600" class="m_-4870108497433764183devicewidth">
                            <tbody>
                            <tr>
                                <td style="padding:0 0 30px 0"
                                    class="m_-4870108497433764183pl25 m_-4870108497433764183pr25" align="left">
                                    <table border="0" cellpadding="0" cellspacing="0"
                                           style="border:none;border-collapse:collapse" width="600"
                                           class="m_-4870108497433764183devicewidth">
                                        <tbody>
                                        <tr>
                                            <td align="left" class="m_-4870108497433764183full">
                                                <div>
                                                    <a href="https://www.inno-lab.co"
                                                       style="background-color:#00abde;border:1px solid #00abde;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:35px;text-align:center;text-decoration:none;padding:0 25px 0 25px;letter-spacing:.5px;min-width:150px"
                                                       class="m_-4870108497433764183button" target="_blank"
                                                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/AnalyticsPitStop.action?email_name%3DregistrationStencil%26email_guid%3D16ffb495-cb08-46bc-942a-dd8fdd5b2c3f%26email_link%3Dbutton_url%26targetUrl%3Dhttps%253A%252F%252Fevernote.com%252Fdownload%253Futm_source%253Dservice%2526utm_medium%253Demail%2526utm_content%253DregistrationStencil&amp;source=gmail&amp;ust=1518145589806000&amp;usg=AFQjCNFNrb0q1x5XasO-VEeHUd77rYCprQ">前往
                                                        <span class="il">GoodMalling</span></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="600" class="m_-4870108497433764183devicewidth">
                            <tbody>
                            <tr>
                                <td align="center" class="m_-4870108497433764183pl25 m_-4870108497433764183pr25">
                                    <table border="0" cellpadding="0" cellspacing="0"
                                           style="border:none;border-collapse:collapse;border-top:#bbbbbb solid 1px;padding:10px 0 10px 0"
                                           width="100%" class="m_-4870108497433764183devicewidth" align="center">
                                        <tbody>
                                        <tr>
                                            <td align="center">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       style="border:none;border-collapse:collapse" width="600"
                                                       class="m_-4870108497433764183devicewidth" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   style="border:none;border-collapse:collapse"
                                                                   width="600"
                                                                   class="m_-4870108497433764183devicewidth">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center"
                                                                        style="padding:25px 5px 25px 5px;font-family:arial,sans-serif;font-size:12px;font-weight:400"
                                                                        class="m_-4870108497433764183block">
                                                                        <div style="color:#484848;font-family:helvetica,arial,sans-serif;font-size:17px;font-weight:400;padding-bottom:11px"
                                                                             class="m_-4870108497433764183pb0"><span
                                                                                class="il">Evernote</span> 能跨所有裝置同步記事。
                                                                        </div>
                                                                        <a href="https://www.evernote.com/AnalyticsPitStop.action?email_name=registrationStencil&amp;email_guid=16ffb495-cb08-46bc-942a-dd8fdd5b2c3f&amp;email_link=downloadBannerMailPlugin_windows_download&amp;targetUrl=https%3A%2F%2Fevernote.com%2Fdownload%3Futm_source%3Dservice%26utm_medium%3Demail%26utm_content%3DregistrationStencil"
                                                                           style="text-decoration:none;color:#20c05c;font-family:helvetica,arial,sans-serif;font-size:17px;font-weight:400;padding-right:9px"
                                                                           class="m_-4870108497433764183block m_-4870108497433764183pt25 m_-4870108497433764183pr0 m_-4870108497433764183pb10 m_-4870108497433764183pl0"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/AnalyticsPitStop.action?email_name%3DregistrationStencil%26email_guid%3D16ffb495-cb08-46bc-942a-dd8fdd5b2c3f%26email_link%3DdownloadBannerMailPlugin_windows_download%26targetUrl%3Dhttps%253A%252F%252Fevernote.com%252Fdownload%253Futm_source%253Dservice%2526utm_medium%253Demail%2526utm_content%253DregistrationStencil&amp;source=gmail&amp;ust=1518145589806000&amp;usg=AFQjCNGou6LpJEEMxRFwYHzn12eOetSuvA">Windows</a>
                                                                        <a href="https://www.evernote.com/AnalyticsPitStop.action?email_name=registrationStencil&amp;email_guid=16ffb495-cb08-46bc-942a-dd8fdd5b2c3f&amp;email_link=downloadBannerMailPlugin_mac_download&amp;targetUrl=https%3A%2F%2Fevernote.com%2Fdownload%3Futm_source%3Dservice%26utm_medium%3Demail%26utm_content%3DregistrationStencil"
                                                                           style="text-decoration:none;color:#20c05c;font-family:helvetica,arial,sans-serif;font-size:17px;font-weight:400;padding-right:12px;padding-left:10px"
                                                                           class="m_-4870108497433764183block m_-4870108497433764183pt10 m_-4870108497433764183pr0 m_-4870108497433764183pb10 m_-4870108497433764183pl0"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/AnalyticsPitStop.action?email_name%3DregistrationStencil%26email_guid%3D16ffb495-cb08-46bc-942a-dd8fdd5b2c3f%26email_link%3DdownloadBannerMailPlugin_mac_download%26targetUrl%3Dhttps%253A%252F%252Fevernote.com%252Fdownload%253Futm_source%253Dservice%2526utm_medium%253Demail%2526utm_content%253DregistrationStencil&amp;source=gmail&amp;ust=1518145589806000&amp;usg=AFQjCNGFQRQyjlZHE_jSVS-3umw0tZ4a3w">Mac</a>
                                                                        <a href="https://www.evernote.com/AnalyticsPitStop.action?email_name=registrationStencil&amp;email_guid=16ffb495-cb08-46bc-942a-dd8fdd5b2c3f&amp;email_link=downloadBannerMailPlugin_android_download&amp;targetUrl=https%3A%2F%2Fevernote.com%2Fdownload%2Fget.php%3Ffile%3DEvernoteAndroidAppStore%26utm_source%3Dservice%26utm_medium%3Demail%26utm_content%3DregistrationStencil"
                                                                           style="padding-right:1px;padding-left:12px"
                                                                           class="m_-4870108497433764183block m_-4870108497433764183pt10 m_-4870108497433764183pr0 m_-4870108497433764183pb10 m_-4870108497433764183pl0"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/AnalyticsPitStop.action?email_name%3DregistrationStencil%26email_guid%3D16ffb495-cb08-46bc-942a-dd8fdd5b2c3f%26email_link%3DdownloadBannerMailPlugin_android_download%26targetUrl%3Dhttps%253A%252F%252Fevernote.com%252Fdownload%252Fget.php%253Ffile%253DEvernoteAndroidAppStore%2526utm_source%253Dservice%2526utm_medium%253Demail%2526utm_content%253DregistrationStencil&amp;source=gmail&amp;ust=1518145589806000&amp;usg=AFQjCNFKC2m-t_T5aJFeUdtT0yDxWd28vg"><img
                                                                                src="https://ci6.googleusercontent.com/proxy/DobkNsuPSgYE4_zvQEQNld5Rhg76N5R6hE317CZEP6X4fa5lViYm-6a9BSLYVYI5fRgt2k-0fDQBKf-fZeyRnfk5mL4XvpHJjffagKII3l3-7iY_kHKQMCfJQAC2XBlUR21_iJB2vbhRcg=s0-d-e1-ft#https://www.evernote.com/redesign/mail/puck/downloadBannerMailPlugin/google_play.png"
                                                                                height="40"
                                                                                style="vertical-align:middle"
                                                                                alt="Android" class="CToWUd"></a>
                                                                        <a href="https://www.evernote.com/AnalyticsPitStop.action?email_name=registrationStencil&amp;email_guid=16ffb495-cb08-46bc-942a-dd8fdd5b2c3f&amp;email_link=downloadBannerMailPlugin_ios_download&amp;targetUrl=https%3A%2F%2Fevernote.com%2Fdownload%2Fget.php%3Ffile%3DEvernoteIosAppStore%26utm_source%3Dservice%26utm_medium%3Demail%26utm_content%3DregistrationStencil"
                                                                           style="padding-left:1px"
                                                                           class="m_-4870108497433764183block m_-4870108497433764183pt10 m_-4870108497433764183pr0 m_-4870108497433764183pl0"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/AnalyticsPitStop.action?email_name%3DregistrationStencil%26email_guid%3D16ffb495-cb08-46bc-942a-dd8fdd5b2c3f%26email_link%3DdownloadBannerMailPlugin_ios_download%26targetUrl%3Dhttps%253A%252F%252Fevernote.com%252Fdownload%252Fget.php%253Ffile%253DEvernoteIosAppStore%2526utm_source%253Dservice%2526utm_medium%253Demail%2526utm_content%253DregistrationStencil&amp;source=gmail&amp;ust=1518145589807000&amp;usg=AFQjCNFa0pZkKn-nSc3EhXRByXCuiDW8Qg"><img
                                                                                src="https://ci4.googleusercontent.com/proxy/0WYvWpntvc-8ZtykIwdM22uMRzmGrSlnvyjEvseIl391YwIliU0JKZhd0DAVD3vSX03sQ7YrRVjPymj0esYfgnbRRpKlZs-Nf2vyQX-zUzg8zuCK2ZKGG4rmsEds6ANiVdoTuY0zIkc=s0-d-e1-ft#https://www.evernote.com/redesign/mail/puck/downloadBannerMailPlugin/app_store.png"
                                                                                height="40"
                                                                                style="vertical-align:middle" alt="iOS"
                                                                                class="CToWUd"></a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse"
                               width="600" class="m_-4870108497433764183devicewidth">
                            <tbody>
                            <tr>
                                <td align="center" class="m_-4870108497433764183pl25 m_-4870108497433764183pr25">
                                    <table border="0" cellpadding="0" cellspacing="0"
                                           style="border:none;border-collapse:collapse;border-top:#bbbbbb solid 1px;padding:10px 0 10px 0"
                                           width="100%" class="m_-4870108497433764183devicewidth" align="center">
                                        <tbody>
                                        <tr>
                                            <td align="center">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       style="border:none;border-collapse:collapse" width="600"
                                                       class="m_-4870108497433764183devicewidth" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   style="border:none;border-collapse:collapse"
                                                                   width="600"
                                                                   class="m_-4870108497433764183devicewidth">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center"
                                                                        style="padding:15px 5px 15px 5px;font-family:arial,sans-serif;font-size:12px;font-weight:400"
                                                                        class="m_-4870108497433764183block m_-4870108497433764183mleft">

                                                                        <a href="https://www.evernote.com/Settings.action"
                                                                           style="text-decoration:none;color:#2dbe60"
                                                                           class="m_-4870108497433764183block m_-4870108497433764183mleft m_-4870108497433764183pt10 m_-4870108497433764183pb10"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/Settings.action&amp;source=gmail&amp;ust=1518145589807000&amp;usg=AFQjCNEvKvPraDZ07egeeizmWz1ypkt9sQ">帳戶</a>
                                                                        <span style="padding:20px 15px;color:#848484"
                                                                              class="m_-4870108497433764183hide">•</span>
                                                                        <a href="http://blog.evernote.com/"
                                                                           style="text-decoration:none;color:#2dbe60"
                                                                           class="m_-4870108497433764183block m_-4870108497433764183mleft m_-4870108497433764183pt10 m_-4870108497433764183pb10"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://blog.evernote.com/&amp;source=gmail&amp;ust=1518145589807000&amp;usg=AFQjCNHSTZXx_MPfIoLp-5XSUqf7YLg26Q">部落格</a>
                                                                        <span style="padding:20px 15px;color:#848484"
                                                                              class="m_-4870108497433764183hide">•</span>
                                                                        <a href="https://evernote.com/contact/support"
                                                                           style="text-decoration:none;color:#2dbe60"
                                                                           class="m_-4870108497433764183block m_-4870108497433764183mleft m_-4870108497433764183pt10 m_-4870108497433764183pb10"
                                                                           target="_blank"
                                                                           data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://evernote.com/contact/support&amp;source=gmail&amp;ust=1518145589807000&amp;usg=AFQjCNH0Hdhy0rDXdiBtMutJ7eIDEkoNXQ">支援</a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="100%"
                                    class="m_-4870108497433764183mleft m_-4870108497433764183pl25 m_-4870108497433764183pr70"
                                    align="center"
                                    style="padding:10px 0 10px 0px;font-family:helvetica,arial,sans-serif;font-size:10px;line-height:17px;color:#535353">
                                    這封郵件是由 <span class="il">Evernote</span> Corporation (或其子公司) 向您寄出.
                                    &nbsp;<a
                                        href="https://www.evernote.com/UnsubscribeEmail.action?code=10&amp;email=travisl0102%40gmail.com"
                                        style="color:#535353;text-decoration:underline;font-family:helvetica,arial,sans-serif;font-size:10px;line-height:17px"
                                        target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.evernote.com/UnsubscribeEmail.action?code%3D10%26email%3Dtravisl0102%2540gmail.com&amp;source=gmail&amp;ust=1518145589807000&amp;usg=AFQjCNFo3BcjTg2jzDz1vEsfatBXtYC6fw">取消訂閱</a>
                                    <br>
                                    <a style="color:#535353;text-decoration:none"
                                       href="https://www.google.com/maps/preview#!q=Evernote+Corporation%2C+305+Walnut+Street%2C+Redwood+City%2C+CA+94063%2C+USA&amp;data=!4m10!1m9!4m8!1m3!1d3158!2d-122.4049847!3d37.7711819!3m2!1i1440!2i769!4f13.1"
                                       target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.google.com/maps/preview%23!q%3DEvernote%2BCorporation%252C%2B305%2BWalnut%2BStreet%252C%2BRedwood%2BCity%252C%2BCA%2B94063%252C%2BUSA%26data%3D!4m10!1m9!4m8!1m3!1d3158!2d-122.4049847!3d37.7711819!3m2!1i1440!2i769!4f13.1&amp;source=gmail&amp;ust=1518145589807000&amp;usg=AFQjCNEtMRT3ICjxcstjwMekypWl5Oy4UA">
                                        <span class="il">Evernote</span> Corporation, 305 Walnut Street, Redwood City,
                                        CA 94063, USA.
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td height="1" class="m_-4870108497433764183hide"
                                    style="min-width:576px;font-size:0px;line-height:0px">
                                    <img height="1"
                                         src="https://ci4.googleusercontent.com/proxy/qA0tEm1vb0F8tSQq6K6a42OMALmb8hsYVwnIAEqoDmdgMiRjy3GaFjItURbJXhymK3wme-Bc1cONNK37HVc3JVy6J090SfyRQzg_tpjvCBkby6SBqtU5CtXJBye6=s0-d-e1-ft#https://www.evernote.com/redesign/mail/puck/global/gmail_spacer_576.gif"
                                         style="min-width:576px;text-decoration:none;border:none" class="CToWUd">
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <div style="display:none;white-space:nowrap;font:15px courier;color:#ffffff">- - - -
                                        - - - - - - - - - - - - - - - - - - - - - - -
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <img src="https://ci6.googleusercontent.com/proxy/Fpx7AC2KZLzG7IZ9yrameT-u7SYd7j5MXdHTtrhGiW_4P-n39CYTSAi_5MjXOTsuebSZyXExkA-BM3LR76k2sE_7bY32t1tQ-RTK5DKnBUSTYCFmmNt_Rw=s0-d-e1-ft#https://www.evernote.com/etpa/16ffb495-cb08-46bc-942a-dd8fdd5b2c3f"
                                         style="height:1px;width:1px" class="CToWUd">

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>