<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#ebebeb"
       style="margin:15px 0;margin:15px 0">
    <tbody>
    <tr>
        <td align="center" valign="top" bgcolor="#ebebeb" style="background-color:#ebebeb">


            <table style="margin:15px 0;padding:15px 0" border="0" width="600" cellpadding="0" cellspacing="0"
                   class="m_5442924112557739591container">
                <tbody>
                <tr>
                    <td class="m_5442924112557739591container-padding" bgcolor="#ffffff"
                        style="background-color:#ffffff;padding-left:30px;padding-right:30px;font-size:14px;line-height:20px;font-family:Helvetica,sans-serif;color:#333">
                        <br>
                        <div style="background-color:#008edd;height:auto;padding-top:20px;padding-left:15px;text-align:center;padding-bottom:20px">
                            <a href="http://www.shoplineapp.com" target="_blank"
                               data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.shoplineapp.com&amp;source=gmail&amp;ust=1518148997011000&amp;usg=AFQjCNFk5eRvrzc92Qz5Kw8JS83cdJrl2g"><img
                                    src="https://ci4.googleusercontent.com/proxy/NGtSVLXLrrgtIojHzM2jP-R5a1HL2sNW9nqVghOr9NYMfVir88XpaV4truVNGJHoCVPc9bYqUBpc5oiL7UI4jgu24YdEVwRqgg=s0-d-e1-ft#http://static.shoplineapp.com/emails/email-logo.png"
                                    class="CToWUd"></a>
                        </div>
                        <br>
                        <div><p>Cake To 糕你好: </p>
                            <p>恭喜！謝謝你使用<span class="il">SHOPLINE</span>開店。 </p>
                            <ul>
                                <li>商店管理面板： <a href="https://admin.shoplineapp.com/admin/travisl010214/" target="_blank"
                                               data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://admin.shoplineapp.com/admin/travisl010214/&amp;source=gmail&amp;ust=1518148997012000&amp;usg=AFQjCNFGPPaZCURTA7fCJoLpBx4O_zzIsg">https://admin.shoplineapp.com/
                                    <wbr>
                                    admin/travisl010214/</a></li>
                                <li>登記電郵地址： <a href="mailto:travisl0102@gmail.com"
                                               target="_blank">travisl0102@gmail.com</a></li>
                                <li>你的商店網址： <a href="https://travisl010214.shoplineapp.com" target="_blank"
                                               data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://travisl010214.shoplineapp.com&amp;source=gmail&amp;ust=1518148997012000&amp;usg=AFQjCNG-zp_B4X3HPa2o7aQ9A71x1Q_8Vg">https://travisl010214.
                                    <wbr>
                                    shoplineapp.com</a>（可以隨時更改）
                                </li>
                            </ul>
                            <p><strong>下一步可以做甚麼？<span class="il">SHOPLINE</span>小提示：</strong></p>
                            <ul>
                                <li>上載你第一件商品</li>
                                <li>設定你的商店付款和物流方式</li>
                                <li>把商店匯入Facebook專頁</li>
                            </ul>
                            <p>有問題請隨時聯絡我們！祝你生意興隆～</p>
                            <p><span class="il">SHOPLINE</span> 團隊</p></div>

                        <div style="font-style:normal;font-size:12px;color:#aaa;margin-top:30px;padding-top:30px">This
                            e-mail was sent by <span class="il">SHOPLINE</span>. A product by Starling Labs Limited in
                            Hong Kong. You are receiving this e-mail because you have signed up for an account with
                            <span class="il">SHOPLINE</span>. If you do not wish to receive further e-mails from us,
                            please <a href="http://shoplineapp.com/unsubscribe" target="_blank"
                                      data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://shoplineapp.com/unsubscribe&amp;source=gmail&amp;ust=1518148997012000&amp;usg=AFQjCNEuoLzzk637_FSqlTr14kt7brexVQ">unsubscribe</a>.
                        </div>
                        <br><br>
                        Copyright © 2017 <a href="http://starlinglabs.com" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://starlinglabs.com&amp;source=gmail&amp;ust=1518148997012000&amp;usg=AFQjCNHEE7p2mn0mTnTho5EChXvOUC-zmA">Starling
                        Labs Limited</a>. All rights reserved. · <a href="http://shoplineapp.com/terms" target="_blank"
                                                                    data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://shoplineapp.com/terms&amp;source=gmail&amp;ust=1518148997012000&amp;usg=AFQjCNGuXnXRXFBPdsnJ_0affwuSXxlf6w">Terms
                        of use</a> · <a href="mailto:info@shoplineapp.com" target="_blank">Contact Us</a>
                        <br><br>
                    </td>
                </tr>
                </tbody>
            </table>


        </td>
    </tr>
    </tbody>
</table>
</body>
</html>